.list-group {
  margin-top: 1.2em;
}

li {
  cursor: pointer;
  width: 300px;
  margin: 0 1em;
}

.badge {
  font-size: 1em;
}

.image {
  margin-top: 2.5em;
}

#catImg {
  cursor: pointer;
}

form {
  margin: 1em;
}

.form-control {
  width: 300px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}